img{
    width: 500px;
    height: 400px;
    margin-top: 100px;
    transition-timing-function: linear;
    transition-delay: 2s;
    transition: all 5s linear 0s;
}

img:hover{
    transition: all 5s steps(10) 0s;
    transform: rotate(180deg);
}

h1{
    width: 700px;
    padding: 10px;
    background-color: red;
    transition: all 1s linear 0s;
}
h1:hover{
    transition: all 1s linear 0s;  
}