.a{
    color: black;
    background-color: lightblue;
}
.b{
    color: blue;
    background-color: white;
}
.c{
    color: white;
    background-color: red;
}
.d{
    color: lightgrey;
    background-color: white;
}