{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/amz.css' %}">
	<link rel="stylesheet" href="{% static 'css/fa/css/all.css' %}">
</head>
<body>
	<header>
		<div>
			<img src="{% static 'images/th.jpeg' %}">
		</div>
		<div class="loc">
			<i class="fa-solid fa-location-dot"></i>
			<div>
				<p class="pe">Hello</p>
				<div>
					<p>Select Your Address</p>
				</div>
			</div>
		</div>
		<div class="search">
			<div class="par">
				<p class="para">All</p>
			</div>
			<div class="search-bar">
				<input type="text" name="" placeholder="Search Amazon.in">
			</div>
			<div class="search-icon">
				<i class="fa-solid fa-magnifying-glass sear"></i>
			</div>
		</div>
		<div class="pp">
			<div class="p">
				<p>Hello, sign in</p>
			</div>
			<div class="p">
				<p>Account & Lists</p>
			</div>
		</div>
		<div class="p11">
			<div class="p1">
				<p>Returns</p>
			</div>
			<div class="p1">
				<p>&Orders</p>
			</div>
		</div>
		<div class="cart-logo">
			<i class="fa-solid fa-cart-shopping"></i>
			Cart
		</div>
	</header>
	<div class="l-panel">
		<div class="menu">
			<i class="fa-solid fa-bars"></i>
			All
		</div>
		<div class="op">
			<p>Amazon miniTV</p>
			<p>Sell</p>
			<p>BestSellers</p>
			<p>Mobiles</p>
			<p>Today's Deals</p>
			<p>Coustmer Servies</p>
			<p>New Releases</p>
			<p>Electroincs</p>
			<p>Home &kitchen</p>
		</div>
		<div class="r-panel">
			<p>Electronics&more | Shop Now</p>
		</div>
	</div>
	<div class="main">
		<div class="back-images">
			
		</div>
	</div>
	<div class="shop">
		<div class="box">
			<div class="container">
				<h2>Up to 30% off on medicines | Free delivery for prime</h2>
				<div class="box-image a"  ></div>
				<a href="#">Visit the Store</a>
			</div>
		</div>
		<div class="box">
			<div class="container">
				<h2>Up to 30% off on medicines | Free delivery for prime</h2>
				<div class="box-image b" ></div>
				<a href="#">Visit the Store</a>
			</div>
		</div>
		<div class="box ">
			<div class="container">
				<h2>Up to 30% off on medicines | Free delivery for prime</h2>
				<div class="box-image" class="c"></div>
				<a href="#">Visit the Store</a>
			</div>
		</div>
		<div class="box">
			<div class="container">
				<h2>Up to 30% off on medicines | Free delivery for prime</h2>
				<div class="box-image d" ></div>
				<a href="#">Visit the Store</a>
			</div>
		</div>
		<div class="box">
			<div class="container">
				<h2>Up to 30% off on medicines | Free delivery for prime</h2>
				<div class="box-image a"  ></div>
				<a href="#">Visit the Store</a>
			</div>
		</div>
		<div class="box">
			<div class="container">
				<h2>Up to 30% off on medicines | Free delivery for prime</h2>
				<div class="box-image b"></div>
				<a href="#">Visit the Store</a>
			</div>
		</div>
		<div class="box">
			<div class="container">
				<h2>Up to 30% off on medicines | Free delivery for prime</h2>
				<div class="box-image c"></div>
				<a href="#">Visit the Store</a>
			</div>
		</div>
		<div class="box">
			<div class="container">
				<h2>Up to 30% off on medicines | Free delivery for prime</h2>
				<div class="box-image d"></div>
				<a href="#">Visit the Store</a>
			</div>
		</div>
	</div>
	<footer>
		<div class="bak">
			Back to top
		</div>
		<div class="foot">
			<div class="ftr">
				<ul>
					<p>Get to Know Us</p>
					<a href="#">About Us</a>
					<a href="#">Careers</a>
					<a href="#">Press Releases</a>
					<a href="#">Amazon Science</a>
				</ul>
			</div>
			<div class="ftr">
				<ul>
					<p>Connect With Us</p>
					<a href="#">FaceBook</a>
					<a href="#">Instagram</a>
					<a href="#">Twitter</a>
				</ul>
			</div>
			<div class="ftr">
				<ul>
					<p>Make Money with Us</p>
					<a href="#">Sell on Amazon</a>
			    	<a href="#">Sell under Amazon Accelerator</a>
			    	<a href="#">Protect and Build Your Brand</a>
			    	<a href="#">Amazon Global Selling</a>
			    	<a href="#">Become an Affiliate</a>
			    	<a href="#">Fulfilment by Amazon</a>
			    	<a href="#">Advertise Your Products</a>
			    	<a href="#">Amazon Pay on Merchants</a>
			    </ul>
			</div>
			<div class="ftr">
				<ul>
					<p>Let Us Help You</p>
					<a href="#">COVID-19 and Amazon</a>
					<a href="#">Your Account</a>
					<a href="#">Returns Centre</a>
					<a href="#">100% Purchase Protection</a>
					<a href="#">Amazon App Download</a>
					<a href="#">Help</a>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>