{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jspiders Website</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jsp1.css' %}">
	<link rel="stylesheet" href="{% static 'css/fa/css/all.css' %}">
</head>
<body>
	<!-- Main Header -->
	<header>
		<h1><span>J</span>spiders Training Institute</h1>
		<div id="links">
			<a href="">Home</a>
			<a href="">Courses</a>
			<a href="">Placements</a>
			<a href="">Blog</a>
			<a href="">Contact</a>
		</div>
	</header>

	<!-- Landing Page -->
	<div id="landing-page">
		<div id="wrapper">
			<h1>Best Taining Institute</h1>
			<p>Duis labore consectetur nostrud dolore commodo proident dolor ea do cillum aliquip nulla adipisicing sit in fugiat. Eu cupidatat labore incididunt tempor veniam nostrud id ut voluptate magna quis dolore. Lorem ipsum enim ut consequat aliquip dolore ex elit id laborum cupidatat fugiat commodo quis.</p>
			<button>Visit Us For More Info</button>
		</div>
	</div>
</body>
</html>











