{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Navigation With In The Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
</head>
<body>
	<h1 id="one">Yuvraj</h1>
	<a href="#two">kohili</a>
	<br>
	<a href="#three">Rohit</a>
	<br>
	<a href="#four">Dhoni</a>
	<br>
	<p><img src="{% static 'images/y.jpg' %}">
	<p>Yuvraj Singh (born 12 December 1981) is a former Indian international cricketer who played in all formats of the game. He is an all-rounder who batted left-handed in the middle order and bowled slow left-arm orthodox . He has won 7 Player of the Series awards in ODI cricket, which is joint 3rd highest by an Indian, shared with former Indian captain Sourav Ganguly. He is also the son of former Indian fast bowler and Punjabi actor Yograj Singh.</p></p>
   <h1 id="two">kohili</h1>
   <a href="#three">Rohit</a>
   <br>
   <a href="#one">Yuvraj</a>
   <br>
   <a href="#four">Dhoni</a>
   <br>
   <img src="{% static 'images/v1.jpg' %}">
   
   <p>Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team who plays as a right-handed batsman for Royal Challengers Bangalore in the IPL and for the Delhi in Indian domestic cricket.</p>
   <h1 id="three">Rohit</h1>
   <a href="#two">kohili</a>
   <br>
   <a href="#one">Yuvraj</a>
   <br>
   <a href="#four">Dhoni</a>
   <br>
   <img src="{% static 'images/r1.jpg' %}">
   <p>The Mumbai Indians faced a devastating six-wicket defeat to Chennai Super Kings in their second match of the 2023 Indian Premier League on Saturday night. Rohit Sharma's men endured another tough outing in the season – this time at home – days after the side's humbling at the hands of Royal Challengers Bangalore. The MI side had finished at the bottom of the table in the 2022 season with only four wins to their name and if their performance in the two first games this year is any indication, the 2023 edition could go awry for Mumbai as well.</p>
   <h1 id="four">Dhoni</h1>
   <a href="#three">Rohit</a>
   <br>
   <a href="#one">Yuvraj</a>
   <br>
   <a href="#two">kohili</a>
   <br>
   <img src="{% static 'images/d1.jpg' %}">
   <p>M.S. Dhoni, in full Mahendra Singh Dhoni, (born July 7, 1981, Ranchi, Bihar [now Jharkhand] state, India), Indian cricketer whose rise to prominence in the early 21st century culminated in his captaincy of the Indian national team that won the one-day Cricket World Cup in 2011.</p>
</body>
</html>