{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <link rel="stylesheet" href="{% static 'css/fa/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/img.css' %}">
</head>
<body>
	<div>
        <input type="number" name="" id="two">
		<input type="number" name="" id="three">
		<span class="fa-solid fa-plus" onclick="add()" ></span>
		<span class="fa-solid fa-minus" onclick="sub()"></span>
		<span class="fa-solid fa-xmark" onclick="mul()"></span>
		<span class="fa-solid fa-divide" onclick="div()"></span>
    </div>
</body>
</html>